@{
    ViewBag.Title = "ID Card Design Management";
}
<script type="text/javascript">
    $(function () {

    });
</script>
<div class="container">
	<img src="~/Images/ID Card Logo.png" alt="Idcard_logo" class="center-block" />
	
</div>