@{
	ViewBag.Title = "Smile Please";
}
<script type="text/javascript">
	$(function () {
		var slideIndex = 0;
		showSlides();

		function showSlides() {
			var i;
			var slides = document.getElementsByClassName("slideImages");
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) { slideIndex = 1 }
			slides[slideIndex - 1].style.display = "block";
			setTimeout(showSlides, 2000); // Change image every 2 seconds
		}
		var userLogin = new UserLoginViewModel();
		ko.applyBindings(userLogin, $("#LoginForm")[0]);
	});
</script>
<div class="container">
	<div class="Image-Slideshow">
		<button id="templateBtn">Open Templates</button>
		<div class="slideImages">
			<img src="~/Images/PaintWater.jpg" alt="Paint Water" />
		</div>
		<div class="slideImages">
			<img src="~/Images/CookiedBaked.jpg" alt="Cookies Baked" />
		</div>
		<div class="slideImages">
			<img src="~/Images/RaceBikes.jpg" alt="Race Bikes" />
		</div>
		<div class="slideImages">
			<img src="~/Images/DriftCar.jpg" alt="Drift Car" />
		</div>
		<div class="slideImages">
			<img src="~/Images/SportRacing.jpg" alt="Sport Racing" />
		</div>
		<div class="slideImages">
			<img src="~/Images/bmw.jpg" alt="bmw" />
		</div>
		<div class="slideImages">
			<img src="~/Images/cupspray.jpg" alt="cupspray" />
		</div>
		<div class="slideImages">
			<img src="~/Images/dragon.jpg" alt="dragon" />
		</div>
		<div class="slideImages">
			<img src="~/Images/flight_balloon.jpg" alt="flight_balloon" />
		</div>
		<div class="slideImages">
			<img src="~/Images/dragon_classical.jpg" alt="dragon_classical" />
		</div>
		<div class="slideImages">
			<img src="~/Images/mclaren_p1.jpg" alt="mclaren_p1" />
		</div>
		<div class="slideImages">
			<img src="~/Images/rose_bud_orange.jpg" alt="rose_bud_orange" />
		</div>
		<div class="slideImages">
			<img src="~/Images/trees_green.jpg" alt="trees_green" />
		</div>
		<div class="slideImages">
			<img src="~/Images/unicorn_water.jpg" alt="unicorn_water" />
		</div>
		<img src="~/Images/Smile Please Logo.png" alt="Logo" id="Splogo" title="Smile Please" />
	</div>
	<div id="LoginForm">
		<div class="col-md-2">
			<label for="Email"><b>Email:</b></label><br />
			<input type="email" class="form-control" data-bind="value:EmailId()" name="Email" placeholder="firstname_lastname@gmail.com" size="50" required />
		</div>
		<br />
		<div class="col-md-2">
			<label for="Password"><b>Password:</b></label><br />
			<input type="password" class="form-control" data-bind="value:PassWord()" name="Password" placeholder="Enter Password" size="50" required />
		</div>
		<br />

		<div class="checkbox">
			<label><input type="checkbox" data-bind="checked:IsRemember(),event:{click:EnableCheckbox}" name="remember"> Remember me</label>
		</div>
		<button id="signInBtn" data-bind="click: SignIn">Sign In</button>
		<div id="statusMessage">
			<p id="message"></p>
		</div>

	</div>
	


</div>

