body {
	overflow: hidden;
	background-color: aliceblue;
}

.slideImages {
	display: none;
}

.split {
	height: 100%;
	position: fixed;
	/*width: 60%;
	z-index: 1;*/
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.left {
	left: 0;
	position: relative;
}

.right {
	right: 0;
	left: auto;
}

#sldimg {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*opacity: 0.6;*/
}

#templateBtn {
	position: fixed;
	top: 20%;
	left: 7%;
	background-color: Highlight;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 160px;
	height: 50px;
	border: none;
	text-align: center;
}

	#templateBtn:hover {
		background-color: orangered;
	}

#Splogo {
	position: fixed;
	width: 300px;
	height: 300px;
	top: 1%;
	left: 75%;
	cursor: pointer;
}

	#Splogo:hover {
		/*opacity:0.2;*/
	}
