body {
	overflow: hidden;
}

.slideImages {
	display: none;
}
img {
	max-width: 100%;
	max-height: 100%;
}

.Image-Slideshow{
	height:100%;
	width:70%;
	overflow-x:hidden;
}
#signInBtn {
	position: fixed;
	top: 85%;
	left: 88%;
	background-color: Highlight;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
	height: 40px;
	border: none;
	text-align: center;
}

	#signInBtn:hover {
		background-color: orangered;
	}

#templateBtn {
	position: fixed;
	top: 10%;
	left: 5%;
	background-color: Highlight;
	color: white;
	font-size: 16px;
	cursor: pointer;
	width: 160px;
	height: 50px;
	border: none;
	text-align: center;
}

	#templateBtn:hover {
		background-color: orangered;
	}
#Splogo {
	position: fixed;
	width: 350px;
	height: 350px;
	top: 0%;
	left: 70%;
	cursor: pointer;
}
#LoginForm {
	position: fixed;
	top: 50%;
	left: 73%;
	cursor: pointer;
}
/*#Splogo:hover {
		opacity:0.2;
	}*/
